@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.row{
  max-width: 90%;
  margin: 0 auto;
}


/* ============Header Styles================== */
.header{
  background-image: url('../src/assets/herobg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.header nav{
  border-bottom: #FFFFFF 0.5px solid;
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}
.header nav .logo{
  /* border: blue 2px solid; */
  display: flex;
  align-items: center;
}
.header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: green 2px solid; */
  text-align: center;
  flex: 1;
  /* margin-left: 6rem; */
}
.header nav ul li{
  padding: 25px;
  color: #FFFFFF;
}
.header .header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  /* border: 2px solid green; */
}
.header-content .heading-text{
  width: 48%;
  font-size: 35px;
  font-weight: bold;
  /* border: 2px solid red; */
  color: #FFFFFF;
}
.header-content .heading-map{
  width: 45%;
  /* border: 2px solid red; */
}

.header .burger{
  display: none;
}

@media screen and (max-width: 900px){
  .header nav{
    display: none;
  }

  .header .header-content{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .header-content .heading-text{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    line-height: 1.2;
  }
  .header-content .heading-map{
    width: 90%;
  }
  .header .burger{
    display: block;
  }
}


/* ============About Styles================== */
.about_container{
  /* border: 2px solid red; */
  padding: 4rem 0;
}

.about-box{
  /* border: 2px solid red; */
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-box .about-box-img{
  /* border: 2px solid blue; */
  width: 40%;
  height: 100%;
}
.about-box-img .testimony_img{
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-box .about-box-divs{
  /* border: 2px solid purple; */
  width: 58%;
  height: 100%;
}

.map_items-box {
  width:32%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
.map_items-box .my-icon{
  background: #FFFFFF;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 15px;
  color: #F4511E;
}


 @media screen and (max-width: 900px){
  .row{
    max-width: 95%;
  }
  .about_container{
    padding: 2rem 0;
  }
  .about_container h1{
    text-align: center;
    font-size: 1.3rem;
  }
  .about-box{
    flex-direction: column;
    height: 100%;
  }
  .about-box .about-box-img{
    width: 100%;
  }
  .about-box .about-box-divs{
    width: 100%;
  }

  .map_items-box {
    width:49%;
  }
}



/* ============Listofproperty Styles================ */
.property_container{
  padding: 2rem 0;
  /* border: 2px solid blue; */
  background-color: #F5F5F5;
  /* height: 40vh; */
}
.property-heading{
  max-width: 90%;
  margin: 0 auto;
}
.property-heading h1{
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

.property-heading h1:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50%;
  border-bottom: 3px solid #F4511E;
}

.property-heading a{
  background-color: #F4511E;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .property-heading h1{
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .property-heading a{
    background-color: #F4511E;
    color: #fff;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
  }
  
}


/* ============Services Styles================== */
.services_container{
  padding: 5rem 0 0 0;
}
.services_container .row{
  /* border: 2px solid green; */
  height: 80vh;
  display: flex;
}

.services_left{
  /* border: 2px solid red; */
  width: 55%;
  height: 100%;
}
.services_left .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* border: 2px solid green; */
  height: 100%;
  }
  
  .parent .div1 { grid-area: 1 / 1 / 4 / 2;}
  .parent .div2 { grid-area: 4 / 1 / 6 / 2;}
  .parent .div3 { grid-area: 1 / 2 / 3 / 3;}
  .parent .div4 { grid-area: 3 / 2 / 6 / 3;}


  .div1 img{
    width: 100%;
    height: 100%;
  }
  .div2 img{
    width: 100%;
    height: 100%;
  }
  .div3 img{
    width: 100%;
    height: 100%;
  }
  .div4 img{
    width: 100%;
    height: 100%;
  }

.services_right{
  /* border: 2px solid red; */
  width: 45%;
  height: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.services_right h2{
  font-size: 2rem;
  font-weight: 600;
}
.services_right p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.services_right a{
  background-color: #F4511E;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 900px){
  .services_container{
    padding: 2rem 0 0 0;
  }
  .services_container .row{
    flex-direction: column;
    height: 100%;
  }
  .services_left{
    width: 100%;
  }
  .services_right{
    width: 100%;
    padding: 1rem;
  }
  .services_right h2{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .services_right p{
    font-size: 0.8rem;
  }
  .services_right a{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
}
  




/* ============Contact Styles================== */
.contact_container{
  /* border: 2px solid yellow; */
  height: 100%;
}

.mobres{
  width: 32%;
}
@media screen and (max-width: 900px){
  .mobres{
    width: 100%;
  }
}



/* ============Testimony Styles================== */
.testimony_container{
  /* border: 2px solid black; */
  height: 90vh;
  width: 100%;
}
.testimony_container .testimony_content{
  /* border: 2px solid purple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.testimony_content .testimony_left{
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  background: rgba(244, 81, 30, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.testimony_content .testimony_right{
  width: 50%;
  height: 100%;
  /* border: 2px solid blue; */

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activee{
  background-color: #F4511E;
}

.active, .dot:hover {
  background-color: #717171;
}
@media screen and (max-width: 900px){
  .testimony_container{
    height: 100vh;
  }
  .testimony_container .testimony_content{
    flex-direction: column-reverse;
    height: 100%;
  }
  .testimony_content .testimony_left{
    width: 100%;
    padding: 0;
  }
  .testimony_content .testimony_right{
    width: 100%;
    height: 100%;
  }
}




/* ============Footer Styles================== */
.footer_container{
  /* border: 2px solid red; */
  height: 45vh;
}

.footer-content{
  border-top: 3px solid #F4511E;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content .footer-left{
  /* border: 2px solid green; */
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bolder;
}


.footer-content .footer-right{
  /* border: 2px solid blue; */
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_container .footer-links{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

.footer_container .footer-links a{
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0A142F;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.footer-links p{
  font-size: 1rem;
  font-weight: 400;
  color: #0A142F;
  mix-blend-mode: normal;
opacity: 0.7;
}
.logomi{
  width: 70%;
}

@media screen and (max-width: 900px){
  .footer-content{
    flex-direction: column;
    justify-content: center;
  }
  .footer-content .footer-left{
    width: 100%;
    font-size: 1.5rem;
  }

  .footer-content .footer-right{
    width: 100%;
  }
  .footer_container .footer-links{
    flex-direction: column;
    background-color: #7886B5;
    padding-bottom: 0;
    padding-top: 1rem;
  }
  .footer_container .footer-links a{
    padding: 0.6rem;
    font-size: 0.85rem;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bold;
  }
  .footer-links p{
    font-size: 0.85rem;
    color: #FFFFFF;
    margin-top: 1rem;
    padding: 10px 0;
  }

  .logomi{
    margin-top: 1rem;
  }
  .row{
    max-width: 100%;
    margin: 0 auto;
  }
}


.fa-solid, .fa-brands{
  color: #F4511E;
  font-size: 1rem;
  padding: 0.8rem;
}
@media screen and (max-width: 900px){
  .fa-solid, .fa-brands{
    padding: 0.5rem;
  }
}